.sign-in{
    &-container  {
        width: 30%;
        margin: 3rem auto;
        background: white;
        padding: 2rem;   
    }

    &_inputs {
        input {
                
        }
    }

    &_buttons {

    }
}